@model WSVistaWebClientTest.Domain.Entities.Order
<div class="well">
    <h3>
        <strong>@Model.OrderNumber</strong>
        <span class="pull-right label label-primary">Ticket's count: @Model.Tickets.Count()</span>
    </h3>
    <span class="lead">@Model.OrderDate.ToString()</span>
</div>
