<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/269b31f6-d66e-4129-8162-31818b0b3aae/resourcegroups/WSVistaWebClientTestWebUI20180902060746ResourceGroup/providers/Microsoft.Web/sites/WSVistaWebClientTestWebUI20180902060746</ResourceId>
    <ResourceGroup>WSVistaWebClientTestWebUI20180902060746ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wsvistawebclienttestwebui20180902060746.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wsvistawebclienttestwebui20180902060746.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WSVistaWebClientTestWebUI20180902060746</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WSVistaWebClientTestWebUI20180902060746</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wsvistawebclienttestwebui20180902060746dbserver.database.windows.net,1433;Initial Catalog=WS;User ID=sergeysapanus@wsvistawebclienttestwebui20180902060746dbserver;Password=vfhbyrf77!" Name="Data Source=tcp:wsvistawebclienttestwebui20180902060746dbserver.database.windows.net,1433;Initial Catalog=WS;User Id=sergeysapanus@wsvistawebclienttestwebui20180902060746dbserver;Password=vfhbyrf77!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WSVistaWebClientTest.Domain.Concrete.EFDbContext, WSVistaWebClientTest.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wsvistawebclienttestwebui20180902060746dbserver.database.windows.net,1433;Initial Catalog=WS;User Id=sergeysapanus@wsvistawebclienttestwebui20180902060746dbserver;Password=vfhbyrf77!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>