@using WSVistaWebClientTest.WebUI.HtmlHelpers
@model WSVistaWebClientTest.WebUI.Models.OrderListViewModel

@{
    ViewBag.Title = "Orders";
}
@foreach (var o in Model.Orders)
{
    @Html.Partial("OrderSummary", o)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

