@using WSVistaWebClientTest.WebUI.Models
@model PlanIndexViewModel

@{
    ViewBag.Title = "Plan";
}

<h2>Plan</h2>
<p>Please choose tickets, and press Checkout.</p>
@Html.ValidationSummary()


<div class="container">

    <table id="planTable" class="tab-pane">
        <tbody>

            @for (var x = 0; x < Model.SeatRowsCount; x++)
            {
                <tr>
                    @for (var y = 0; y < Model.SeatColumnsCount; y++)
                    {
                        <td>
                            @if (Model.IsEmpty(y, x))
                            {
                                <input class="btn btn-sm disabled" style="background-color: transparent" type="submit" value="" />
                            }
                            else
                            {
                                if (Model.IsGhost(y, x))
                                {
                                    <input class="btn btn-sm btn-default disabled" type="submit" value="" />
                                }
                                else
                                {
                                    if (Model.IsFree(y, x))
                                    {
                                        if (Model.IsOrdered(y, x))
                                        {
                                            using (Html.BeginForm("RemoveTicket", "Plan"))
                                            {
                                                @Html.Hidden("seatCompositeId", Model.GetSeatCompositeId(y, x))
                                                <input class="btn btn-sm btn-success" type="submit" value="" />
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("AddTicket", "Plan"))
                                            {
                                                @Html.Hidden("seatCompositeId", Model.GetSeatCompositeId(y, x))
                                                <input class="btn btn-sm btn-primary" type="submit" value="" />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <input class="btn btn-sm btn-danger disabled" type="submit" value="" />
                                    }
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @using (Html.BeginForm("Checkout", "Plan"))
    {
        <input class="btn btn-sm btn-warning" type="submit" value="Checkout" />
    }
</div>